<div class="d-flex justify-content-center">
  <div class="card-trip mt-5 p-3">
    <h1 class="d-flex justify-content-center">page new basket</h1>
    <%= render 'form' ,basket: @basket %>
  </div>
</div>