// Specific CSS for your home-page
.navbar-brand img {
  content:url(https://www.freepnglogos.com/uploads/michael-jordan-logo-red-png-4.png);
}

.card-title a {
  color: #8a4c14;
  text-decoration: none;
}


.card_category {
  justify-content: space-evenly;
  border: 1px solid rgb(220, 191, 147);
  border-radius: 50px;
  padding: 0px;
  margin: 0px

}

.card-body{
  height: 100px;
  width:auto;
}
