.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.image_logo {
height: 50px;
}

.nav_title{
  color: rgb(219, 22, 22);
  font-size: 20px;
  font-family: "WORK Sans", Helvetica, sans-serif;
  font-style: italic;
  position: relative;
  right:300px;
  top: 5px;
}
