.main {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #FFF;
  margin-top: 20px;
  padding: 20px;
}
.navbar-lewagon-dashboard {
  justify-content: space-between;
  background: #e10a0a;
}
.navbar-lewagon-dashboard ul a {
  margin: 20px;
  color: white;
}
// tabs
.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: white;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
//tabs
.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}
.card-img-top.dashboard
{
  width: 150px;
  height: 150px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: black;
}
.dashboard-links .nav-link {
  color: #fff !important;
}

